header {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(60, 60, 60);
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
}
a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-family: arial;
}
.navlink {
    padding: 10px 10px;
    transition-duration: 250ms;
}
.navlink:hover {
    background-color: rgb(90, 90, 90);
}
.programmingImage {
    margin-bottom: -5px;
}
.name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: arial;
    color: white;
    width: 100%;
    margin: 0px;
    background-color: rgb(60, 60, 60);
}
.personalStatement {
    display: flex;
    flex-direction: column;
    font-family: arial;
    text-align: justify;
    align-items: center;
    width: 100%;
    color: white;
}

.personalStatement p {
    width: 70%;
    padding-right: 10px;
    font-size: 20px;
    overflow-wrap: break-word;
}

.para1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 20px solid rgb(60, 60, 60);
    padding-bottom: 20px;
}
.para1 p {
    width: 40%;
    padding-right: 10px;
    font-size: 20px;
    align-items: center;
    overflow-wrap: break-word;
}
.para1 img {
    width: 60%;
    height: 60%;
    align-items: center;
    max-height: 250px;
    max-width: 250px;
    margin-top: 10px;
}
.para3 a {
    color: rgb(60, 130, 255);
}
footer {
    font-family: arial;
    color: rgb(80, 80, 80);
    background-color: rgb(20, 20, 20);
    padding: 30px;
}

@media (max-width: 800px){
    .personalStatement p {
        min-width: 250px;
    }
    .para1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .para1 p {
        min-width: 250px;
    }
}